@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap");

:root {
  --ff-main: "Mulish", sans-serif;

  --fw-light: 200;
  --fw-reg: 400;
  --fw-bold: 700;

  --fs-small: 0.875rem;
  --fs-main: 1rem;
  --fs-search: 1.25rem;
  --fs-head: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  font-family: var(--ff-main);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  margin: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: #b8b8b82b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #9696966b;
}

.search-bar {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 24px;
  background: #b8b8b82b;
  color: white;
  font-size: var(--fs-search);
  width: calc(100% - 100px);
}
