@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap");

:root {
  --ff-main: "Mulish", sans-serif;

  --fw-light: 200;
  --fw-reg: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: var(--ff-main);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  margin: 20px;
}
